/* montserrat 22
semibold and regular and bold

Positron name is size 56 on loading screens
size 48 on onboarding screens

some large text is size 30
Bold text that is not larger is size 24
Onboarding text is size 24
Other text is size 20 as a standard */

/*
p {}

button {
    border:none;
    color:white;
    font-size:22;
    height:50px;
    width:264px;
    background: var(--unnamed-color-d97d54) 0% 0% no-repeat padding-box;
    background: #D97D54 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 50px #00004D;
    border-radius: 100px;
    opacity: 1;
}
h1 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 56px/68px var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal bold 56px/68px Montserrat;
    letter-spacing: 0px;
    color: #FCFCFC;
    opacity: 1;
    border:solid red 1px;
}
h2 {font-size:48px;
    width:236px;
    font-weight:600;
    border:solid pink 1px;
    color: #FCFCFC;
}
h3 {}
h4 {}
h5 {}
h6 {}
h6 {}*/


/* #para1 {
    top: 302px;
left: 505px;
width: 911px;
height: 56px;
color: #000000;
text-align: center;
font: normal normal normal 20px/24px 'Montserrat',Helvetica,sans-serif;
letter-spacing: 0px;
color: #000000;
opacity: 1;
} */


body{ 
    background-image: linear-gradient(#287781, #7EADB3);
    text-align: center;
    color: #ffffff;
}

header p {
    color: #FCFCFC;
    font-size: 60px;
    font-family:'Montserrat', Helvetica, sans-serif;
    padding: 56px 0px 0px 0px;
    margin-bottom: 80px;
}

section p {
    font-family:'Hind', Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px 28% 0px 28%;
    padding: 20px 0px 20px 0px
}

.btn{
    border-radius: 40px;
    padding-top: 18px;
    width: 260px;
    height: 70px;
}

.cta{
    margin: 20px 0px 80px 0px;
}

.btn-primary{
    background-color: #CC794E;
    border: 1px solid #665152;
}

#appstore{
    text-align: left;
    padding-left: 40px;
}

#social{
    text-align: right;
    padding-right: 40px;
}

#social img{
    padding: 0px 12px 12px 0px;
}

footer{
    padding: 80px 0px 0px 0px;
}

#footernav ul li{
   margin: 0 auto;
}

#footernav a{
    color: #000000;
}

/* top nav */
.nav-link {
    color:#334856;
}
.nav-link:hover {
    color:#212529;
}
.nav-link.active {
    color:black;
    font-weight:500;
}
.nav-link.active:hover {
    color:#212529;
    font-weight:500;
}

@media (max-width: 767px){   

} 

@media (min-width: 992px){      

}

@media (min-width: 1200px) {    

}
