/* montserrat 22
semibold and regular and bold

Positron name is size 56 on loading screens
size 48 on onboarding screens

some large text is size 30
Bold text that is not larger is size 24
Onboarding text is size 24
Other text is size 20 as a standard */

body {
    font-family:'Montserrat',Helvetica,sans-serif;
    font-size:22px;
    color:#FCFCFC;
    background-color:#334856;
    text-align:center;
}
a {
}
button {
    border-color:none;
    border-radius:10px;
    background-color:#D97D54;
    color:white;
    font-size:22;
}
h1 {
    font-size:56px;
}
h2 {font-size:48px;
}
h3 {}
h4 {}
h5 {}
h6 {}
nav {
    text-align:left;
}