/* screen - positron-idea-2 */

.black-border-1px {
  border: 1px solid var(--black);
}
.montserrat-medium-black-15px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.positron-idea-2 {
  background-color: var(--white);
  height: 812px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.positron-idea-2 .battery-ASWxeQ {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: 0px;
  top: 3px;
  width: 24px;
}
.positron-idea-2 .border-hvZ4bZ {
  background-color: transparent;
  border-radius: 2.6666667461395264px;
  height: 100%;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}
.positron-idea-2 .cap-hvZ4bZ {
  background-color: transparent;
  bottom: calc(50.00% - 2px);
  height: 4px;
  position: absolute;
  right: 0px;
  width: 1px;
}
.positron-idea-2 .capacity-hvZ4bZ {
  background-color: var(--black);
  border-radius: 1.3333333730697632px;
  height: calc(100.00% - 4px);
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}
.positron-idea-2 .cellular-c-ction-path-86n9Io {
  background-color: transparent;
  height: 99.99%;
  left: 60.87%;
  position: absolute;
  top: 0px;
  width: 39.13%;
}
.positron-idea-2 .cellular-c-ction-path-Bjhz4v {
  background-color: transparent;
  height: 66.66%;
  left: 0px;
  position: absolute;
  top: 33.33%;
  width: 39.13%;
}
.positron-idea-2 .cellular-c-ction-path-DDKxlu {
  background-color: transparent;
  height: 100%;
  left: 75.67%;
  position: absolute;
  top: 0px;
  width: 24.32%;
}
.positron-idea-2 .cellular-c-ction-path-xn9F0I {
  background-color: transparent;
  height: 100.00%;
  left: 82.35%;
  position: absolute;
  top: 0px;
  width: 17.65%;
}
.positron-idea-2 .cellular-connection-ASWxeQ {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: 50px;
  top: 3px;
  width: 17px;
}
.positron-idea-2 .electric-loop-C61RwL {
  background-color: transparent;
  border: 1px solid rgba(112,112,112,1.0);
  height: 812px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 375px;
}
.positron-idea-2 .electric-loop-C61RwL img {
  object-fit: cover;
}
.positron-idea-2 .electric-loop-C61RwL video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.positron-idea-2 .emblem-EgJT5x {
  background-color: transparent;
  background-image: url(../img/path-18@1x.svg);
  background-size: 100% 100%;
  height: 83px;
  left: calc(47.63% - 40px);
  position: absolute;
  top: 2px;
  width: 83px;
}
.positron-idea-2 .exclusion-4-gWjEUN {
  background-color: transparent;
  height: 67.74%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.positron-idea-2 .exclusion-5-DDKxlu {
  background-color: transparent;
  height: 72.00%;
  left: 0px;
  position: absolute;
  top: 27.99%;
  width: 62.16%;
}
.positron-idea-2 .exclusion-6-xn9F0I {
  background-color: transparent;
  height: 78.12%;
  left: 0px;
  position: absolute;
  top: 21.88%;
  width: 72.55%;
}
.positron-idea-2 .group-99-7X9rVY {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.positron-idea-2 .logo-for-o-r-animated-C61RwL {
  background-color: transparent;
  height: 176px;
  left: -98px;
  position: absolute;
  top: 301px;
  width: 571px;
}
.positron-idea-2 .path-19-Frl7FD {
  background-color: transparent;
  height: 29px;
  left: calc(49.64% - 15px);
  position: absolute;
  top: calc(46.46% - 14px);
  width: 29px;
}
.positron-idea-2 .positron-EgJT5x {
  background-color: transparent;
  bottom: calc(24.53% - 17px);
  color: rgba(3,0,0,1.0);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  height: 70px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  width: calc(100.00% + 2px);
}
.positron-idea-2 .status-bar-C61RwL {
  background-color: transparent;
  height: 18px;
  left: 21px;
  position: absolute;
  top: 14px;
  width: 339px;
}
.positron-idea-2 .time-style-ASWxeQ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 54px;
}
.positron-idea-2 .video-C61RwL {
  background-color: transparent;
  height: 812px;
  left: 0px;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 375px;
}
.positron-idea-2 .video-C61RwL img {
  object-fit: cover;
}
.positron-idea-2 .video-C61RwL video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.positron-idea-2 .wifi-ASWxeQ {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: 29px;
  top: 3px;
  width: 15px;
}
.positron-idea-2 .wifi-path-HNS8dx {
  background-color: transparent;
  height: 48.92%;
  left: 17.44%;
  position: absolute;
  top: 51.08%;
  width: 65.14%;
}
.positron-idea-2 .wifi-path-gWjEUN {
  background-color: transparent;
  height: 30.77%;
  left: 34.86%;
  position: absolute;
  top: 69.23%;
  width: 30.29%;
}
.positron-idea-2 .wifi-path-jPd2dr {
  background-color: transparent;
  height: 63.85%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100.00%;
}
.positron-idea-2 .x-time-X59jRg {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: 15px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}
:root {
  --baby-powder: rgba(252,252,252,1.0);
  --black: rgba(0,0,0,1.0);
  --white: rgba(255,255,255,1.0);
}
